.services_container {
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.service {
    height: fit-content;
    border-radius: 0 0 2rem 2rem;
    background: var(--color-bg-variant);
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.service:hover {
    background: transparent;
    cursor: default;
    border-color: var(--color-primary-variant);
}

.service_head {
    background: var(--color-primary);
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2rem 2rem;
    padding: 2rem;
}

.service_head h3 {
    font-size: 1rem;
    color: var(--color-bg);
    text-align: center;
}

.service_list {
    padding: 2rem;
}

.service_list li {
    gap: 1rem;
    margin-bottom: 0.8rem;
    display: flex;
}

.service_list-icon {
    color: var(--color-primary);
    margin-top: 2px;
}

.service_list p {
    font-size: 0.8rem;
}

/* media queries for tablets */
@media screen and (max-width:1024px) {
    .services_container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .service {
        height: auto;
    }
}

/* media queries for small devices */
@media screen and (max-width:600px) {
    .services_container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}
