.experience_container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.experience_container > div {
    padding: 2.4rem 5rem;
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 2rem;
}

.experience_container > div:hover {
    cursor: default;
    background: transparent;
    border-color: var(--color-primary-variant);
}

.experience_container > div h3 {
    margin-bottom: 2rem;
    text-align: center;
    color: var(--color-primary);
}

.experience_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience_details{
    display: flex;
    gap: 1rem;
}

.experience_details-icon {
    color: var(--color-primary);
    margin-top: 6px;
}

/* media queries for tablets */
@media screen and (max-width:1024px) {
    .experience_container {
        grid-template-columns: 1fr;
    }

    .experience_container > div {
        padding: 2rem;
        margin: 0 auto;
        width: 80%;
    }

    .experience_content {
        padding: 1rem;
    }
}

/* media queries for small devices */
@media screen and (max-width:600px) {
    .experience_container {
        gap: 1rem;
    }

    .experience_container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}